# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Logs
logs/
*.log
log.txt
filelist.txt
input.txt
renames_log.txt

# Environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Project specific
# 忽略Works文件夹下的所有内容，但保留文件夹本身
Works/*
!Works/.gitkeep

# Windows specific
Thumbs.db
ehthumbs.db
Desktop.ini

# Temporary files
*.tmp
*.bak
*~
.DS_Store

# Compiled binaries
release.zip 